@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    position: relative;

    height: 100%;

    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;

    color: #7f7f7f;
    background: #fff;
}

a {
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    color: #27e1ce;
}
a:hover,
a:active,
a:focus {
    color: #27e1ce;
    outline: none;
}

p {
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    margin: 0 0 30px 0;

    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;

    color: #000;
}

::-webkit-selection {
    color: #fff;
    background: #27e1ce;
}

::-moz-selection {
    color: #fff;
    background: #27e1ce;
}

::selection {
    color: #fff;
    background: #27e1ce;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;

    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;

        -ms-border-radius: 30px;
}
.btn.btn-md {
    padding: 10px 20px !important;
}
.btn.btn-lg {
    padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    color: #fff;
    border: 2px solid #27e1ce;
    background: #27e1ce;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    border-color: #3de4d3 !important;
    background: #3de4d3 !important;
}
.btn-primary.btn-outline {
    color: #27e1ce;
    border: 2px solid #27e1ce;
    background: transparent;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    color: #fff;
    background: #27e1ce;
}

.btn-success {
    color: #fff;
    border: 2px solid #5cb85c;
    background: #5cb85c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    border-color: #4cae4c !important;
    background: #4cae4c !important;
}
.btn-success.btn-outline {
    color: #5cb85c;
    border: 2px solid #5cb85c;
    background: transparent;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    color: #fff;
    background: #5cb85c;
}

.btn-info {
    color: #fff;
    border: 2px solid #5bc0de;
    background: #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    border-color: #46b8da !important;
    background: #46b8da !important;
}
.btn-info.btn-outline {
    color: #5bc0de;
    border: 2px solid #5bc0de;
    background: transparent;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    color: #fff;
    background: #5bc0de;
}

.btn-warning {
    color: #fff;
    border: 2px solid #f0ad4e;
    background: #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    border-color: #eea236 !important;
    background: #eea236 !important;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
    background: transparent;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    color: #fff;
    background: #f0ad4e;
}

.btn-danger {
    color: #fff;
    border: 2px solid #d9534f;
    background: #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    border-color: #d43f3a !important;
    background: #d43f3a !important;
}
.btn-danger.btn-outline {
    color: #d9534f;
    border: 2px solid #d9534f;
    background: transparent;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    color: #fff;
    background: #d9534f;
}

.btn-outline {
    font-size: 16px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    border: 2px solid gray;
    background: none;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    box-shadow: none;
}

.btn.with-arrow {
    position: relative;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}
.btn.with-arrow i {
    position: absolute;
    top: 50%;
    right: 0;

    visibility: hidden;
    margin-top: -8px;

    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    opacity: 0;
}
.btn.with-arrow:hover {
    padding-right: 50px;
}
.btn.with-arrow:hover i {
    right: 18px;

    visibility: visible;

    opacity: 1;
    color: #fff;
}

.form-control {
    height: 54px;

    font-size: 18px;
    font-weight: 300;

    border: 2px solid rgba(0, 0, 0, .1);
    background: transparent;
    box-shadow: none;
}
.form-control:active,
.form-control:focus {
    border-color: #27e1ce;
    outline: none;
    box-shadow: none;
}

.fh5co-social {
    padding: 0;
    margin: 0;
}
.fh5co-social li {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0;
    margin: 0;
    zoom: 1;

    list-style: none;

    *display: inline;
}
.fh5co-social li a {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0;
    padding: 2px;
    margin: 0;
    zoom: 1;

    font-size: 22px;

    color: #fff;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;

    *display: inline;
        -ms-border-radius: 7px;
}
.fh5co-social li a:hover {
    color: #27e1ce;
}
.fh5co-social li a:hover,
.fh5co-social li a:active,
.fh5co-social li a:focus {
    text-decoration: none;

    outline: none;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 1em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 1em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 1em;
    }
}

#fh5co-header {
    width: 100%;
    margin: 0;
}
@media screen and (max-width: 768px) {
    #fh5co-header {
        margin: 0 0 0 0;
    }
}
#fh5co-header .header-inner {
    float: left;
    width: 100%;
    height: 80px;
    padding-right: 20px;
    padding-left: 20px;

    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;

        -ms-border-radius: 7px;
}
#fh5co-header h1 {
    float: left;
    padding: 0;

    font-size: 30px;
    font-weight: 700;
    line-height: 0;
}
#fh5co-header h1 a {
    position: relative;

    color: black;
}
#fh5co-header h1 a > span {
    color: #27e1ce;
}
#fh5co-header h1 a:hover,
#fh5co-header h1 a:active,
#fh5co-header h1 a:focus {
    text-decoration: none;

    outline: none;
}
#fh5co-header h1 a:after {
    position: absolute;
    right: -8px;
    bottom: 6px;

    width: 8px;
    height: 8px;

    content: "";

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #27e1ce;

        -ms-border-radius: 50%;
}
#fh5co-header h1,
#fh5co-header nav {
    margin: 38px 0 0 0;
}
#fh5co-header nav {
    float: right;
    padding: 0;
}
@media screen and (max-width: 768px) {
    #fh5co-header nav {
        display: none;
    }
}
#fh5co-header nav ul {
    padding: 0;
    margin: 0 -0 0 0;

    line-height: 0;
}
#fh5co-header nav ul li {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0;
    margin: 0;
    zoom: 1;

    list-style: none;

    *display: inline;
}
#fh5co-header nav ul li a {
    position: relative;

    padding: 10px;

    font-size: 18px;

    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: rgba(0, 0, 0, .7);
}
#fh5co-header nav ul li a i {
    position: relative;
    top: 3px;

    font-size: 20px;
    line-height: 0;
}
#fh5co-header nav ul li a:after {
    position: absolute;
    right: 10px;
    bottom: 7px;
    left: 10px;

    visibility: hidden;
    height: 2px;

    content: "";
    -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
       -moz-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        -ms-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
         -o-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
         -o-transform: scaleX(0);
            transform: scaleX(0);

    background-color: #27e1ce;
}
#fh5co-header nav ul li a:hover {
    text-decoration: none;

    color: #27e1ce;
}
#fh5co-header nav ul li a:hover:after {
    visibility: visible;

    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
         -o-transform: scaleX(1);
            transform: scaleX(1);
}
#fh5co-header nav ul li a:active,
#fh5co-header nav ul li a:focus {
    text-decoration: none;

    outline: none;
}
#fh5co-header nav ul li.cta {
    margin-left: 20px;
}
#fh5co-header nav ul li.cta a {
    padding-top: 7px !important;
    padding-right: 16px !important;
    padding-bottom: 7px !important;
    padding-left: 16px !important;

    color: #27e1ce;
    border: 2px solid #27e1ce;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;

        -ms-border-radius: 30px;
}
#fh5co-header nav ul li.cta a:hover {
    color: #fff;
    background: #27e1ce;
}
#fh5co-header nav ul li.cta a:hover:after {
    display: none;
}
#fh5co-header nav ul li.active a {
    text-decoration: none;

    color: rgba(0, 0, 0, .8);
}
#fh5co-header nav ul li.active a:after {
    visibility: visible;

    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
         -o-transform: scaleX(1);
            transform: scaleX(1);
}

#fh5co-hero {
    min-height: 700px;

    background: #fff url(../images/loader.gif) no-repeat center center;
}
#fh5co-hero .btn {
    font-size: 24px;
}
#fh5co-hero .btn.btn-primary {
    padding: 14px 30px !important;
}
#fh5co-hero .flexslider {
    z-index: 1;

    margin-bottom: 0;

    border: none;
}
#fh5co-hero .flexslider .slides {
    position: relative;

    overflow: hidden;
}
#fh5co-hero .flexslider .slides li {
    min-height: 700px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#fh5co-hero .flexslider .flex-control-nav {
    bottom: 40px;
    z-index: 1000;
}
#fh5co-hero .flexslider .flex-control-nav li a {
    width: 12px;
    height: 12px;

    cursor: pointer;

    background: rgba(255, 255, 255, .2);
    box-shadow: none;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;

    background: rgba(255, 255, 255, .7);
}
#fh5co-hero .flexslider .flex-direction-nav {
    display: none;
}
#fh5co-hero .flexslider .slider-text {
    display: table;
    min-height: 700px;

    opacity: 0;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    min-height: 700px;

    vertical-align: middle;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 70px;
    font-weight: 400;

    color: #fff;
}
@media screen and (max-width: 768px) {
    #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
        font-size: 40px;
    }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
    font-size: 20px;

    color: #fff;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
    color: #d9534f;
}

#fh5co-services-section,
#fh5co-work-section,
#fh5co-testimony-section,
#fh5co-blog-section {
    padding: 7em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-services-section,
    #fh5co-work-section,
    #fh5co-testimony-section,
    #fh5co-blog-section {
        padding: 3em 0;
    }
}

#fh5co-services-section .services {
    position: relative;
}
#fh5co-services-section .services i {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 40px;

    color: #27e1ce;
}
#fh5co-services-section .services .desc {
    padding-left: 70px;
}
#fh5co-services-section .services .desc h3 {
    font-size: 20px;
    font-weight: 700;
}

.fh5co-services {
    margin-top: 4em;
}

#fh5co-work-section .item-grid {
    position: relative;
    top: 2px;

    float: left;
    width: 100%;
    margin-bottom: 50px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
       -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
}
#fh5co-work-section .item-grid .image {
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;

    background-position: center center;
    background-size: cover;
}
#fh5co-work-section .item-grid .v-align {
    padding: 30px;
}
#fh5co-work-section .item-grid .v-align h3 {
    font-size: 20px;
    font-weight: 700;
}
#fh5co-work-section .item-grid .v-align h5 {
    color: rgba(0, 0, 0, .3);
}
#fh5co-work-section .item-grid:hover,
#fh5co-work-section .item-grid:focus {
    top: -2px;

    text-decoration: none;

    -webkit-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
       -moz-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
            box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
}

.wrap-testimony {
    position: relative;

    width: 100%;
}
.wrap-testimony .testimony-slide {
    overflow: hidden;

    text-align: center;
}
.wrap-testimony .testimony-slide span {
    font-size: 18px;
}
.wrap-testimony .testimony-slide span a.twitter {
    font-weight: 300;

    color: #27e1ce;
}
.wrap-testimony .testimony-slide figure {
    display: -moz-inline-stack;
    display: inline-block;
    margin-bottom: 20px;
    zoom: 1;

    *display: inline;
}
.wrap-testimony .testimony-slide figure img {
    width: 120px;
    height: 120px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

        -ms-border-radius: 50%;
}
.wrap-testimony .testimony-slide blockquote {
    position: relative;

    width: 72%;
    padding-bottom: 30px;
    margin: 0 auto;

    border: none;
}
@media screen and (max-width: 992px) {
    .wrap-testimony .testimony-slide blockquote {
        width: 100%;
    }
}
.wrap-testimony .testimony-slide blockquote p {
    font-size: 20px;
    line-height: 1.6em;

    color: #1a1a1a;
}
.wrap-testimony .testimony-slide.active {
    display: block;
}

.owl-carousel .owl-controls .owl-dot {
    margin-top: 30px;
}
.owl-carousel .owl-controls .owl-dot span {
    background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover,
.owl-carousel .owl-controls .owl-dot span:focus {
    background: #ccc;
}
.owl-carousel .owl-controls .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dot:focus span {
    background: #ccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
    border: 2px solid #27e1ce;
    background: transparent;
}

#fh5co-blog-section .item-grid {
    position: relative;
    top: 2px;

    float: left;
    width: 100%;
    margin-bottom: 50px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
       -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
}
#fh5co-blog-section .item-grid .image {
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;

    background-position: center center;
    background-size: cover;
}
#fh5co-blog-section .item-grid .v-align {
    padding: 30px;
}
#fh5co-blog-section .item-grid .v-align h3 {
    font-size: 20px;
    font-weight: 700;
}
#fh5co-blog-section .item-grid .v-align h5 {
    color: rgba(0, 0, 0, .3);
}
#fh5co-blog-section .item-grid .v-align p {
    color: gray;
}
#fh5co-blog-section .item-grid:hover,
#fh5co-blog-section .item-grid:focus {
    top: -2px;

    text-decoration: none;

    -webkit-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
       -moz-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
            box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
}

.item-block {
    float: left;
    margin-bottom: 7em;
}
.item-block .icon {
    display: block;
    margin-bottom: 30px;
}
.item-block .icon img {
    height: 90px;
    max-width: inherit;
    margin: 0 auto;
}
.item-block h3 {
    font-size: 20px;
    font-weight: 700;
}
.item-block p:last-child {
    margin-bottom: 0;
}

.fh5co-heading {
    margin-bottom: 30px;
}
.fh5co-heading h2 {
    margin-bottom: 20px;

    font-weight: 700;
}

.googleplus-color {
    color: #dc4e41;
}

.facebook-color {
    color: #3b5998;
}

.twitter-color {
    color: #55acee;
}

.fh5co-about,
.fh5co-team,
.fh5co-contact {
    padding: 7em 0;
}
@media screen and (max-width: 768px) {
    .fh5co-about,
    .fh5co-team,
    .fh5co-contact {
        padding: 3em 0 10px 0;
    }
}

.contact-info {
    padding: 0;
    margin-bottom: 4em;
}
.contact-info li {
    position: relative;

    padding-left: 40px;
    margin: 0 0 20px 0;

    list-style: none;
}
.contact-info li i {
    position: absolute;
    top: .3em;
    left: 0;

    font-size: 22px;

    color: #27e1ce;
}
.contact-info li a {
    color: #27e1ce;
}

#map {
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 768px) {
    #map {
        height: 400px;
    }
}
@media screen and (max-width: 480px) {
    #map {
        height: 200px;
    }
}

.fh5co-staff img {
    margin-bottom: 1.5em;
}
.fh5co-staff h3 {
    margin: 0 0 20px 0;

    font-size: 20px;
    font-weight: 700;
}
.fh5co-staff h4 {
    margin: 0 0 20px 0;

    font-weight: 400;

    color: rgba(0, 0, 0, .4);
}
.fh5co-staff .fh5co-social {
    text-align: center;
}
.fh5co-staff .fh5co-social a {
    color: #000;
}

.fh5co-cta {
    position: relative;

    padding: 7em 0;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .fh5co-cta {
        padding: 3em 0;
    }
}
.fh5co-cta .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background: rgba(0, 0, 0, .7);
}
.fh5co-cta .container {
    position: relative;
    z-index: 2;
}
.fh5co-cta p,
.fh5co-cta h3 {
    color: #fff;
}
.fh5co-cta p:last-child {
    margin-bottom: 0;
}
.fh5co-cta .btn {
    color: #fff;
}

#fh5co-footer {
    position: relative;

    float: left;
    width: 100%;
    padding: 7em 0;

    background: #262626;
}
@media screen and (max-width: 768px) {
    #fh5co-footer {
        padding: 3em 0;
    }
}
#fh5co-footer h2,
#fh5co-footer h3,
#fh5co-footer h4 {
    color: #fff;
}
#fh5co-footer h3 {
    font-size: 16px;
    font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;
}
#fh5co-footer [class*="col"] {
    padding-bottom: 30px;
}
#fh5co-footer .btn {
    color: #fff;
}
#fh5co-footer .float {
    float: left;
    margin-right: 10%;
}
#fh5co-footer ul {
    padding: 0;
    margin: 0;
}
#fh5co-footer ul li {
    padding: 0;
    margin: 0 0 10px 0;

    list-style: none;
}
#fh5co-footer ul li a {
    text-decoration: none !important;

    color: rgba(255, 255, 255, .5);
}
#fh5co-footer ul li a:hover {
    color: #fff;
}
#fh5co-footer .fh5co-social li {
    display: block !important;
}

.fh5co-copyright {
    padding: 40px 0 0 0;
    margin-top: 40px !important;
    clear: both;

    border-top: 1px solid rgba(255, 255, 255, .1);
}
.fh5co-copyright span {
    display: block;
}
@media screen and (max-width: 480px) {
    .fh5co-copyright {
        text-align: left !important;
    }
    .fh5co-copyright span {
        display: inline;
    }
}

#fh5co-page {
    position: relative;
    z-index: 2;

    background: #fff;
}

#fh5co-offcanvas,
.fh5co-nav-toggle,
#fh5co-page {
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}

#fh5co-offcanvas,
.fh5co-nav-toggle,
#fh5co-page {
    position: relative;
}

#fh5co-page {
    z-index: 2;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}
.offcanvas-visible #fh5co-page {
    -webkit-transform: translateX(-275px);
       -moz-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
         -o-transform: translateX(-275px);
            transform: translateX(-275px);
}

#fh5co-offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    display: none;
    width: 275px;
    height: 100%;
    padding: 30px;
    overflow-y: auto;

    background: black;
}
@media screen and (max-width: 768px) {
    #fh5co-offcanvas {
        display: block;
    }
}
#fh5co-offcanvas ul {
    padding: 0;
    margin: 0;
}
#fh5co-offcanvas ul li {
    padding: 0;
    margin: 0 0 10px 0;

    line-height: 28px;
    list-style: none;
}
#fh5co-offcanvas ul li a {
    font-size: 18px;

    text-decoration: none !important;

    color: rgba(255, 255, 255, .7);
}
#fh5co-offcanvas ul li a:hover {
    color: #27e1ce;
}
#fh5co-offcanvas ul li.active a {
    color: #27e1ce;
}
#fh5co-offcanvas ul li.cta {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 0;
}
#fh5co-offcanvas ul li.cta a {
    padding-top: 7px !important;
    padding-right: 16px !important;
    padding-bottom: 7px !important;
    padding-left: 16px !important;

    border: 2px solid rgba(255, 255, 255, .7);
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;

        -ms-border-radius: 30px;
}
#fh5co-offcanvas ul li.cta a:hover {
    text-decoration: none;

    background: #fff;
}
#fh5co-offcanvas ul li.cta a:hover:after {
    display: none;
}

.fh5co-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}
.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
    background: #fff;
}
.fh5co-nav-toggle.dark.active i::before,
.fh5co-nav-toggle.dark.active i::after {
    background: #fff;
}
.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
    border-bottom: none !important;
    outline: none;
}
.fh5co-nav-toggle i {
    position: relative;

    display: -moz-inline-stack;
    display: inline-block;
    width: 30px;
    height: 2px;
    zoom: 1;

    font: bold 14px/.4 Helvetica;

    transition: all .2s ease-out;
    text-indent: -55px;
    text-transform: uppercase;

    color: #fff;
    background: #000;

    *display: inline;
}
.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
    position: absolute;
    left: 0;

    width: 30px;
    height: 2px;

    content: "";
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    background: #000;
}
.fh5co-nav-toggle.dark i {
    position: relative;

    transition: all .2s ease-out;

    color: #000;
    background: #000;
}
.fh5co-nav-toggle.dark i::before,
.fh5co-nav-toggle.dark i::after {
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    background: #000;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;

    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
         -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;

    -webkit-transform: rotateZ(-45deg);
       -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
         -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;

    display: block;
    display: none;
    margin: 0 auto;

    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        top: 20px;

        display: block;
    }
}

#fh5co-pricing-section {
    padding: 7em 0;

    background: #fcfcfc;
}
@media screen and (max-width: 768px) {
    #fh5co-pricing-section {
        padding: 3em 0;
    }
}
#fh5co-pricing-section .pricing {
    display: block;
    float: left;
    margin-bottom: 30px;
}
#fh5co-pricing-section .price-box {
    position: relative;
    top: 2px;

    padding: 30px;
    margin-bottom: 40px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    text-align: center;

    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
       -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .11);
}
#fh5co-pricing-section .price-box.popular .btn-select-plan {
    background: #27e1ce;
}
#fh5co-pricing-section .price-box.popular .price {
    color: #27e1ce;
}
#fh5co-pricing-section .price-box .btn-select-plan {
    padding: 10px 20px;

    color: #fff;
    background: #5bc0de;
}
#fh5co-pricing-section .price-box:hover,
#fh5co-pricing-section .price-box:focus {
    top: -2px;

    -webkit-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
       -moz-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
            box-shadow: 0 14px 25px -2px rgba(0, 0, 0, .14);
}
#fh5co-pricing-section .pricing-plan {
    padding: 0;
    margin: 0 0 50px 0;

    font-size: 13px;
    font-weight: 700;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #888f94;
}
#fh5co-pricing-section .pricing-plan.pricing-plan-offer {
    margin-bottom: 24px;
}
#fh5co-pricing-section .pricing-plan span {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;

    color: #d5d8db;
}
#fh5co-pricing-section .price {
    font-size: 72px;
    line-height: 50px;

    color: #6d6d6d;
}
#fh5co-pricing-section .price .currency {
    top: -.9em;

    padding-right: 10px;

    font-size: 30px;
}
#fh5co-pricing-section .price small {
    display: block;

    font-size: 13px;

    text-transform: uppercase;

    color: #888f94;
}

.fh5co-light-grey-section {
    background: rgba(0, 0, 0, .03) !important;
}

.js .animate-box {
    opacity: 0;
}

/*# sourceMappingURL=style.css.map */

/*custom CSS*/
